.Render-contact-us-container {
  background-color: #181818;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Render-contact-us-view {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.Google-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 15px;
}

.Twitter-image {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
}

.Instagram-image {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
}

.YouTube-Image {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
}

.Contact-us-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
