.Popular-poster-slider {
  width: 190px;
  height: 190px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .Popular-poster-slider {
    width: 115px;
    height: 115px;
    margin-left: -30px;
    margin-right: 44px;
  }
}
